body {
  font-family: 'Poppins', sans-serif; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.d-flex {
  display: flex; }

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0px; }
  .wrapper .form .mui-tabs {
    display: flex; }
    .wrapper .form .mui-tabs__bar {
      width: 30%;
      white-space: normal;
      overflow-x: hidden;
      padding: 50px;
      background: #f3f6f8;
      border-radius: 24px;
      max-height: 470px;
      display: flex;
      flex-direction: column; }
      .wrapper .form .mui-tabs__bar--title {
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        color: #273143;
        margin-bottom: 16px;
        margin-top: 0; }
      .wrapper .form .mui-tabs__bar--desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px; }
      .wrapper .form .mui-tabs__bar .nav-link a {
        color: rgba(39, 49, 67, 0.4);
        font-weight: 500;
        font-size: 16px;
        text-align: left;
        padding: 5px 18px;
        text-transform: unset; }
      .wrapper .form .mui-tabs__bar .mui--is-active {
        background: #D8DFE3;
        border-radius: 0px 8px 8px 0px;
        border-left: 4px solid #000000;
        color: #273143;
        border-bottom: none; }
        .wrapper .form .mui-tabs__bar .mui--is-active a {
          color: #000000; }
    .wrapper .form .mui-tabs__content {
      width: 70%;
      margin-left: 50px; }
      .wrapper .form .mui-tabs__content .mui-form h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px; }
      .wrapper .form .mui-tabs__content .mui-form lable {
        margin-bottom: 15px;
        display: block; }
      .wrapper .form .mui-tabs__content .mui-form .col-100 {
        display: flex; }
        .wrapper .form .mui-tabs__content .mui-form .col-100 .col-left {
          width: 100%;
          margin-right: 20px; }
          .wrapper .form .mui-tabs__content .mui-form .col-100 .col-left select {
            border: 1px solid rgba(39, 49, 67, 0.15);
            border-radius: 12px;
            height: 54px;
            padding-left: 20px;
            background-image: none; }
        .wrapper .form .mui-tabs__content .mui-form .col-100 .col-right {
          width: 100%; }
        .wrapper .form .mui-tabs__content .mui-form .col-100 .mui-select {
          padding-top: 0px;
          position: relative; }
          .wrapper .form .mui-tabs__content .mui-form .col-100 .mui-select img {
            position: absolute;
            right: 20px;
            transform: translateY(-50%);
            top: 50%; }
        .wrapper .form .mui-tabs__content .mui-form .col-100 .form-control {
          width: 100%;
          padding-left: 20px;
          border: 1px solid rgba(39, 49, 67, 0.15);
          border-radius: 12px;
          color: rgba(39, 49, 67, 0.7);
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          height: 52px;
          margin-bottom: 20px; }
        .wrapper .form .mui-tabs__content .mui-form .col-100 .box-date {
          display: inherit;
          width: 100%;
          margin-right: 20px; }
          .wrapper .form .mui-tabs__content .mui-form .col-100 .box-date:last-child {
            margin-right: 0; }
          .wrapper .form .mui-tabs__content .mui-form .col-100 .box-date input {
            padding-left: 50px; }
        .wrapper .form .mui-tabs__content .mui-form .col-100 .textarea {
          height: 156px;
          padding-top: 10px; }
        .wrapper .form .mui-tabs__content .mui-form .col-100 .select-capacity {
          width: 100%;
          margin-right: 0; }
          .wrapper .form .mui-tabs__content .mui-form .col-100 .select-capacity select {
            border: 1px solid rgba(39, 49, 67, 0.15);
            border-radius: 12px;
            height: 54px;
            padding-left: 20px; }
        .wrapper .form .mui-tabs__content .mui-form .col-100 .col-url {
          width: 25%;
          margin-right: 30px; }
          .wrapper .form .mui-tabs__content .mui-form .col-100 .col-url .img-url {
            right: 20px;
            top: 35px;
            transform: translateY(-50%); }
        .wrapper .form .mui-tabs__content .mui-form .col-100 .up-file {
          height: auto;
          padding: 20px; }
      .wrapper .form .mui-tabs__content .mui-form .box-input input {
        margin-bottom: 30px !important; }
      .wrapper .form .mui-tabs__content .mui-form .box-input .me {
        margin-right: 15px; }
      .wrapper .form .mui-tabs__content .mui-form .btn {
        justify-content: flex-end; }
      .wrapper .form .mui-tabs__content .mui-form .btn-cancel {
        border: 1px solid rgba(39, 49, 67, 0.15);
        border-radius: 12px;
        padding: 14px 28px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-right: 15px;
        background: white; }
      .wrapper .form .mui-tabs__content .mui-form .btn-next {
        background: #0070A9;
        border-radius: 12px;
        padding: 14px 45px 14px 30px;
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        border: transparent;
        position: relative; }
        .wrapper .form .mui-tabs__content .mui-form .btn-next img {
          position: absolute; }

@media (max-width: 767px) {
  .wrapper {
    width: auto;
    padding: 40px 15px; }
    .wrapper .form .mui-tabs {
      flex-direction: column; }
      .wrapper .form .mui-tabs__bar {
        width: auto; }
      .wrapper .form .mui-tabs__content {
        margin-left: 0;
        width: 100%; }
        .wrapper .form .mui-tabs__content .mui-form .col-100 {
          flex-direction: column; }
          .wrapper .form .mui-tabs__content .mui-form .col-100 .form-control {
            width: auto;
            margin-right: 0 !important; }
          .wrapper .form .mui-tabs__content .mui-form .col-100 .col-left {
            margin-right: 0 !important; }
          .wrapper .form .mui-tabs__content .mui-form .col-100 .col-url {
            width: 100%; }
            .wrapper .form .mui-tabs__content .mui-form .col-100 .col-url .up-file {
              width: 100%; }
          .wrapper .form .mui-tabs__content .mui-form .col-100 .box-date input {
            width: 100%; }
        .wrapper .form .mui-tabs__content .mui-form .btn {
          justify-content: flex-start; } }
